BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlwaysBreakAfterDefinitionReturnType: true
PointerBindsToType: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceAfterControlStatementKeyword: false
SpaceBeforeRangeBasedForLoopColon: true
DerivePointerAlignment: false
SpacesInAngles: true
SpacesInParentheses: false
SpacesInContainerLiterals: true
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: false
IndentWrappedFunctionNames: false
BreakAfterJavaFieldAnnotations: true
